<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.plays.any? %>
        <h3>What have I played.. (<%= @user.plays.count %>)</h3>
        <ol class="plays">
          <%= render @plays %>
        </ol>
        <%= will_paginate @plays %>
    <% end %>
  </div>
</div>